.title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}


p,
h3,
ul {

    line-height: 25px;
    margin-bottom: 10px;
}

li {
    margin-left: 20px;
}