.secaoFormaContato {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 20px;
    gap: 10px;
    font-size: 16px;
}

.formContato {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 300px 80px 0px 80px;
    background-color: rgba(255, 255, 255, 0.548);
    height: 400px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px violet;
}

h2 {
    text-align: center;
}

.formContato input {
    width: 500px;
    height: 40px;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
}

textarea {
    height: 120px;
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.formContato button {
    height: 40px;
}

.containerRight {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}