.secaoFormaContato {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 20px;
    gap: 10px;
    font-size: 16px;
}

.formContato {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0 80px;
    background-color: rgba(255, 255, 255, 0.548);
    height: 400px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgb(183, 183, 183);
}

h2 {
    text-align: center;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContato input {
    width: 500px;
    height: 40px;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(190, 189, 189);
}

.formContato input::placeholder,
textarea::placeholder {
    color: rgb(190, 189, 189);
}

textarea {
    height: 120px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(190, 189, 189);
}

.formContato button {
    background-color: rgb(168, 89, 164);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.formContato button:hover {
    cursor: pointer;
    background-color: rgb(140, 70, 140);
}

.containerRight {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.containerBanner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(255, 253, 253);
}

.containerBanner img {
    width: auto;
    height: 250px;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px grey;
    margin-top: 20px;
}