.containerCard {
    width: 250px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 4px 2px rgb(196, 196, 196);
    border-radius: 8px;
    margin: 20px;
}


.containerCard img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: auto;
}

.title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    background-color: violet;
    padding: 5px;
    margin: -4px auto;
}

.description {
    margin: 5px auto;
    text-align: justify;
}