.navBar {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;

}

.logo {
    height: 120px;
}

.navLeft {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-right: 100px;
}

.navBar a {
    text-decoration: none;
    color: rgb(168, 89, 164);
    font-size: 19px;
    font-weight: 600;
}

.navBar a:hover {
    color: rgb(140, 70, 140);
}

.btnAreaAluno {
    background-color: rgb(168, 89, 164);
    border-radius: 30px;
    border: none;
    width: auto;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btnAreaAluno:hover {
    background-color: rgb(140, 70, 140);
    cursor: pointer;
}