.navBar {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 4px 4px violet;
    z-index: 1;
    position: relative;

}

.logo {
    width: 120px;
}

.navLeft {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
}

.btnAreaAluno {
    background-color: rgb(168, 89, 164);
    border-radius: 30px;
    border: none;
    width: auto;
    padding: 10px;
    color: white;
}