.rodape {
    width: 100%;
    height: 250px;
    background-color: rgb(168, 89, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.containerRedesSociais {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    padding-left: 20px;
    gap: 15px;
}

.containerRedesSociais span {
    font-size: 18px;
}

.containerMenuRapido {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.containerMenuRapido a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}


.containerMenuRapido a:hover {
    color: black;
}



.containerRedesSociais img {
    display: flex;
    width: 20px;
    color: aliceblue;

}