* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 243, 243);
}

a:hover {
    color: violet;
    transition: all .3s ease-in-out;
}